<div class="container" style="background-color: #EEF2FF">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">MIS TAREAS</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/tareas" class="nav-link">Tareas</a></li>
      <li class="nav-item"><a href="/add_tarea" class="nav-link">Añadir nueva tarea</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
